div(class="container")
  div(class="line1__menu_leftrow")
      button
        img(src=require("./img/leftrow.png"))
  div(class="line1")
    
    div(class="line1__menu")
      div(class="line1__menu_item line1__menu_item_h") Оптимизируйте все бизнес-процессы
      div(class="line1__menu_item line1__menu_item_p") при помощи более 4000 программных модулей
      div(class="line1__menu_item line1__menu_item_icons")

          div(class="line1__menu_item_icon line1__menu_item_icons_staff")
            button
              img(src=require("./img/staff.png"))
              | Сотрудники

          div(class="line1__menu_item_icon line1__menu_item_icons_site")
            button
              img(src=require("./img/site.png"))
              | Сайт

          div(class="line1__menu_item_icon line1__menu_item_icons_marketing")
            button
              img(src=require("./img/marketing.png"))
              | Маркетинг

          div(class="line1__menu_item_icon line1__menu_item_icons_sales")
            button
              img(src=require("./img/sales.png")) 
              | Продажи

          div(class="line1__menu_item_icon line1__menu_item_icons_factory")
            button
              img(src=require("./img/factory.png")) 
              | Производство

          div(class="line1__menu_item_icon line1__menu-_item_icons_financial")
            button
              img(src=require("./img/financial.png")) 
              | Финансы

          div(class="line1__menu_item_icon line1__menu_item_icons_efficiency")
            button
              img(src=require("./img/efficiency.png"))
              | Эффективность

  div(class="line1__menu_rightrow")
      button
        img(src=require("./img/rightrow.png"))
