div(class="line1__menu_leftrow") ggg
div(class="line1__menu")
  div(class="line1__menu_h") Оптимизируйте все бизнес-процессы
  div(class="line1__menu_p") при помощи более 4000 программных модулей
  div(class="line1__menu-icons")
      div(class="line1__menu-icons_staff")
        button
          img(src=require("./img/staff.png"))
          | Сотрудники

      div(class="line1__menu-icons_site")
        button
          img(src=require("./img/site.png"))
          | Сайт

      div(class="line1__menu-icons_marketing")
        button
          img(src=require("./img/marketing.png"))
          | Маркетинг

      div(class="line1__menu-icons_sales")
        button
          img(src=require("./img/sales.png")) 
          | Продажи

      div(class="line1__menu-icons_factory")
        button
          img(src=require("./img/factory.png")) 
          | Производство

      div(class="line1__menu-icons_financial")
        button
          img(src=require("./img/financial.png")) 
          | Финансы

      div(class="line1__menu-icons_efficiency")
        button
          img(src=require("./img/efficiency.png"))
          | Эффективность

div(class="line1__menu_rightrow") fdf
